@import "../../../../assets/css/colors.scss";

.user-rounded-photo {
    background-color: $main-white;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}